$black: #272727;
$lightblack: #363636;
$darkgrey: #5c5c5c;
$grey: #747474;
$blue: #1cd189;
$green: #14A76C;
$darkgreen: #0e8a73;
$red: #FF652F;
$darkred: #c54e23;
$yellow: #FFE400;
$white: #FFF;

$borderradius: 3px;

$blue: #49C5B1;
$mutedblue: #3a9e8d;
$darkblue: #2D3750;
$lightdarkblue: #384967;
$lightblue: #A2B2C8;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


html, body{
    height: 100%;
    width: 100%;
    background-color: $lightdarkblue;
    font-family: "Poppins", sans-serif;
}

.navbar{
    background-color: $darkblue;
}

.card{
    background-color: $darkblue;
    color: $blue;
    border-radius: $borderradius;
    border: 0;
}

.form-control{
    background-color: $lightdarkblue;
    border: 0;
    border-radius: $borderradius;
    box-shadow: none;
    color: $lightblue !important;
    font-size: 18px;
    padding: 5px 10px;
    border-bottom: 2px solid $lightdarkblue;

    &:active, &:focus{
        background-color: $lightdarkblue;
        box-shadow: none;
        border-bottom: 2px solid $lightblue;
    }
}
label{
    text-transform: uppercase;
}
.btn{
    box-shadow: none;
    border: 0;
    border-radius: $borderradius;
}
.btn{
    &:active, &:focus, &:hover{
        box-shadow: none;
        border: $borderradius;
    }
}
.btn-blue{
    background-color: $mutedblue;
    color: $white;

    &:hover{
        background-color: $blue;
        color: $white;
    }
}
.btn-red{
    background-color: $darkred;
    color: $white;

    &:hover{
        background-color: $red;
        color: $white;
    }
}
.btn-blueinverted{
    background-color: $darkblue;
    color: $blue;

    &:hover{
        background-color: $darkblue;
        color: $mutedblue;
    }
}
.btn-redinverted{
    background-color: $darkblue;
    color: $red; 

    &:hover{
        background-color: $darkblue;
        color: $darkred;
    }  
}
.btn-admin {
    background-color: $darkblue;
    color: $lightblue; 
    border-bottom: 2px solid $lightblue;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover, &:active, &:focus{
        background-color: $darkblue;
        color: $blue;
        border-bottom: 2px solid $blue;
    }  
}
.border-radius{
    border-radius: $borderradius;
}
.admin-panel-text{
    // border-bottom: 2px solid $red;
}

.btn-register{
    width: 100%;
    font-size: 20px;
}
.text-blue{
    color: $blue;
}
.text-green{
    color: $green;
}
.text-darkgreen{
    color: $darkgreen;
}
.text-mutedblue{
    color: $mutedblue;
}
.text-lightblue{
    color: $lightblue;
}
.text-lightdarkblue{
    color: $lightdarkblue;
}
.text-darkblue{
    color: $darkblue;
}
.text-red{
    color: $red;
}

.bg-blue{
    background-color: $blue;
}
.bg-green{
    background-color: $green;
}
.bg-darkgreen{
    background-color: $darkgreen;
}
.bg-mutedblue{
    background-color: $mutedblue;
}
.bg-lightblue{
    background-color: $lightblue;
}
.bg-lightdarkblue{
    background-color: $lightdarkblue;
}
.bg-darkblue{
    background-color: $darkblue;
}




a{
    color: inherit;
    font-family: "Poppins";

    &:hover{
        color: inherit;
    }
}

.letter-shadow-green{
    text-shadow: 2px 1px 0px $lightdarkblue;
}
.letter-shadow-sm{
    text-shadow: 1px 1px 0px $lightdarkblue;
}

.alert-green{
    background-color: $green;
    color: $white;
    border: 2px solid $blue;
}
.alert-blue{
    background-color: $darkblue;
    color: $blue;
    border: 2px solid $blue;
}
.alert-red{
    background-color: $darkblue;
    color: $red;
    border: 2px solid $red;
}

.image-fit{
    height: 140px;
    width: 100%;
    object-fit: cover;
}

.item-name{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: end;
}

.item-description{
    font-size: 13px;
    height: 35px;
}

.item-price{
    transition: 0.5s ease;
    height: 0px;
}
.item-pricetag{
    display: none;
}

.card:hover .item-price{
    height: 35px;
}
.card:hover .item-icon, .card:hover .item-pricetag{
    display: block;
    color: $darkblue;
}

.card-holder{
    transition: 0.5s ease;
    padding-bottom: 35px;
    &:hover{
        padding-bottom: 0 !important;
    }
}

.card-footer{


}

.item-icon{
    display: none;
    color: $lightblue;
    transition: 0.2s ease;
    &:hover{
        color: $red !important;
        cursor: pointer;
    }
}

.admin-image-remove-container{
    position: relative;
    cursor: pointer;
    &:hover .admin-image-remove{
        opacity: 0.8;
    }
}
.admin-image-close{
    font-size: 30px;
    color: $red;
}
.admin-image-remove{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $darkblue;
    opacity: 0;
    transition: 0.3s ease;
    top: 0;
    left: 0;
}