$black: #272727;
$lightblack: #363636;
$darkgrey: #5c5c5c;
$grey: #747474;
$lightgreen: #1cd189;
$green: #14A76C;
$darkgreen: #0e8a73;
$red: #FF652F;
$darkred: #c54e23;
$yellow: #FFE400;
$white: #FFF;
$borderradius: 3px;

$blue: #49C5B1;
$mutedblue: #3a9e8d;
$darkblue: #2D3750;
$lightdarkblue: #384967;
$lightblue: #A2B2C8;

$lightgreen: $blue;
$black: $darkblue;
$lightblack: $lightdarkblue;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


html, body{
    height: 100%;
    width: 100%;
    background-color: $lightblack;
    font-family: "Poppins", sans-serif;
}

.navbar{
    background-color: $black;
}

.card{
    background-color: $black;
    color: $lightgreen;
    border-radius: $borderradius;
    border: 0;
}

.form-control{
    background-color: $lightblack;
    border: 0;
    border-radius: $borderradius;
    box-shadow: none;
    color: $lightblue !important;
    font-size: 18px;
    padding: 5px 10px;
    border-bottom: 2px solid $lightdarkblue;
}
label{
    text-transform: uppercase;
}
.form-control:active, .form-control:focus, .form-control:hover{
    background-color: $lightblack;
    box-shadow: none;
    border-bottom: 2px solid $lightblue;
}
.btn{
    box-shadow: none;
    border: 0;
    border-radius: $borderradius;
}
.btn:active, .btn:focus, .btn:hover{
    box-shadow: none;
    border: $borderradius;
}
.btn-green{
    background-color: $mutedblue;
    color: $lightblue;
}
.btn-green:hover{
    background-color: $blue;
    color: $white;
}
.btn-red{
    background-color: $darkred;
    color: $lightblue;   
}
.btn-red:hover{
    background-color: $red;
    color: $white;
}
.btn-greeninverted{
    background-color: $blue;
    color: $white;
}
.btn-greeninverted:hover{
    background-color: $mutedblue;
    color: $white;
}
.btn-redinverted{
    background-color: $red;
    color: $white;   
}
.btn-redinverted:hover{
    background-color: $darkred;
    color: $white;
}
.btn-register{
    width: 100%;
    font-size: 20px;
}
.text-lightgreen{
    color: $lightgreen;
}
.text-green{
    color: $green;
}
.text-darkgreen{
    color: $darkgreen;
}
.text-mutedblue{
    color: $mutedblue;
}
.text-lightblue{
    color: $lightblue;
}
.text-lightdarkblue{
    color: $lightdarkblue;
}

.letter-shadow-green{
    text-shadow: 2px 1px 0px $lightblack;
}
.letter-shadow-sm{
    text-shadow: 1px 1px 0px $lightblack;
}

.alert-green{
    background-color: $green;
    color: $white;
    border: 2px solid $lightgreen;
}
.alert-blue{
    background-color: $darkblue;
    color: $blue;
    border: 2px solid $lightdarkblue;
}
.alert-blue{
    background-color: $darkblue;
    color: $blue;
    border: 2px solid $blue;
}
.alert-red{
    background-color: $darkblue;
    color: $red;
    border: 2px solid $red;
}